
<table border="3">
    <tr>
        
        <th>Производитель</th>
        <th>Марка</th>
        <th>Год выпуска</th>
        <th>Коробка передач</th>
        <th>Цвет</th>
    </tr>
    {% for car in cars %}
        <tr>
            <td>{{ car.manufacturer }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{% if car.kpp == 0 %}
                    Механическая
                {% elif car.kpp == 1 %}
                    Автомат
                {% else %}
                    Робот
                {% endif %}

            </td>
            <td>{{ car.color }}</td>
        </tr>
    {% endfor %}

<form action="{% url 'main' %}">
    <input type="text" name="manufacturer" placeholder="производитель">
    <input type="text" name="model" placeholder="модель">
    <input type="number" name="year" placeholder="год выпуска">
    <select name="kpp">
      <option value="" selected>Выберите коробку передач</option>
      <option value="0">Механика</option>
      <option value="1">Автомат</option>
      <option value="2">Робот</option>
    </select>
    <input type="text" name="color" placeholder="цвет">
    <input type="submit">
</form>

<style>
    table {
        padding: 20px;
        margin: 20px;
    }
</style>